.LoginPage {
    text-align: center;
    /* min-height: 120vh; */
    align-items: center;
    justify-content: center;
    /* background: #ffffff;  */
  }
  
  .login-form input {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 2%;
    margin: 0.5rem 0;
    border-radius: 10px;
    padding: 1rem;
    border: none;
  }
  
  @media screen and (min-width: 600px){
    .auth-form-container {
      margin: 0.5rem 0;
      padding: 5rem;
      border: 6px solid black;
      border-radius: 10px;
    }
  }
  
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  
  .buttonSubmit {
    margin: 0.5rem 0;
    border: none;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
  
  }
  
  .buttonR {
    background: none;
    color: black;
    text-decoration: underline;
    border: none;
  }

  .login_container_linkBar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 16px 0;
  }
  
  .login_linkBar {
    width: 100%;
    padding: 15px 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 20px;
    border-right: 5px solid #8fc700;
  }
  
  .login_linkBar span {
    color: rgb(245, 40, 4);
  }
  
  .login_backLink {
    transition: all 0.3s ease;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .login_backLink:hover {
    color: #ff3939;
    padding-left: 5px;
  }